{% extends 'homepage.html.twig' %}

{% block body %}
    <h1 class="solicitud__title">Listado de Solicitudes de inscripción</h1>
    {% if usuarios|length > 0 %}
        <section class="solicitud">
            {% for usuario in usuarios %}
                <div class="solicitud__container">
                    <p class="solicitud__container__numero">{{ loop.index }}</p>
                    <div>
                        <p class="solicitud__container__p">{{usuario.nombre}}</p>
                        <p class="solicitud__container__p">{{usuario.email}}</p>
                        <p class="solicitud__container__p">{{usuario.ciudad}}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="solicitud__container__button fas fa-trash-alt" href="{{ path('eliminar-solicitud', { 'id': usuario.id }) }}"></a>
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}