{% extends 'homepage.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    

    {% if app.user %}
        <div class="mb-3">
            Tu estás loggeado como: {{ app.user.username }}, <a href="{{ path('app_logout') }}">Cerrar Sesión?</a>
        </div>
    {% endif %}

    <h1 class="admin__title">Inicia sesión:</h1>
    <div class="admin">
        <section class="admin__content">
            <label class="admin__label" for="inputUsername">Usuario</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control admin__input" required autofocus>
            <label class="admin__label" for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control admin__input" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            
            {% if error %}
                <div class="admin__mensaje alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% else %}
                <div class="admin__mensaje alert alert-danger"></div>
            {% endif %}
            <button class="admin__button" type="submit">Enviar</button>
        </section>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/login.js') }}"></script>
    <script src="{{ asset('asset/style/alertifyjs/alertify.min.js') }}"></script>
{% endblock %}