{% extends 'homepage.html.twig' %}

{% block body %}
    <h1 class="admin__title">Sign Up</h1>
    <div class="admin">
        <section class="admin__content">
            {{ form_start(formAdministrador) }}
                {{ form_widget(formAdministrador) }}
                <input type="submit" value="Enviar" class="admin__button">
            {{ form_end(formAdministrador) }}
            {% for mensaje in app.flashes('error') %}
                <p class="admin__error" role="alert">{{ mensaje }}</p>
            {% endfor %}
            <a class="admin__link" href="{{ path('registro') }}">Aún no tienes cuenta? Regístrate!</a>
        </section>
    </div>

{% endblock %}

{# {{ form_widget(formAdministrador.role, { 'attr': {'class': 'hidden_row'} }) }} #}