{% extends 'homepage.html.twig' %}

{% block body %}
    <h1 class="admin__title">Regístrate en WebLand</h1>
    <div class="admin">
        <section class="admin__content">
            {{ form_start(formRegistro) }}
                {{ form_widget(formRegistro) }}
                <input type="submit" value="Registrarse" class="admin__button">
            {{ form_end(formRegistro) }}
            {% for mensaje in app.flashes('error') %}
                <p class="admin__error" role="alert">{{ mensaje }}</p>
            {% endfor %}
            {% for mensaje in app.flashes('success') %}
                <p class="admin__success" role="alert">{{ mensaje }}</p>
            {% endfor %}
            <a href="{{ path('login') }}">Ya tienes cuenta? Inicia Sesión!</a>
        </section>
    </div>
{% endblock %}