/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: roboto;
  color: #363636;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 30px;
  margin-left: 60px;
}

.header__img {
  color: #00a308;
  font-size: 50px;
  margin-right: 30px;
}

.header__title {
  color: #363636;
  font-size: 30px;
  text-decoration: none;
}

.header__icon {
  font-size: 20px;
}

.header__icon--off {
  color: red;
}

.header__icon--on {
  color: #00a308;
}

.header__link {
  margin-right: 20px;
  color: #363636;
  text-decoration: none;
  font-size: 20px;
}

.header__link--off:hover {
  color: red;
}

.header__link--on:hover {
  color: #00a308;
}

.header__link--link:hover {
  color: #2935db;
}

.section-header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.section-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  padding-bottom: 40px;
  padding-right: 40px;
}

.section-header__container__title1 {
  font-size: 45px;
  text-shadow: 2px 1px 4px black;
}

.section-header__container__title3 {
  font-size: 28px;
  text-shadow: 2px 1px 4px black;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px auto;
}

.skills__container {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 50px;
}

.skills__icon {
  font-size: 40px;
  color: #00a308;
}

.skills__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__text__title {
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
}

.skills__text__p {
  font-size: 18px;
  padding: 0;
  text-align: center;
  margin-top: 0;
  line-height: 28px;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cacaca;
  padding-top: 40px;
  padding-bottom: 40px;
}

.languages__title {
  font-size: 25px;
  margin-bottom: 20px;
}

.languages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.languages__container__icon {
  font-size: 80px;
  margin: 0;
  margin-top: 15px;
  margin-right: 60px;
}

#html5 {
  color: #ffa011;
}

#css3 {
  color: #0f64d3;
}

#js {
  color: #ffea29;
}

#bd {
  color: #5a5a5a;
}

#angular {
  color: #f70606;
}

#php {
  color: #4f31d6;
}

#node {
  color: #008607;
}

.opinions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.opinions__title {
  font-size: 25px;
}

.opinions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions__content {
  width: 400px;
  border: 1px solid #363636;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.opinions__icon {
  font-size: 30px;
  color: #00a308;
  margin-top: 15px;
  margin-bottom: 15px;
}

.opinions__text {
  text-align: justify;
  margin: 10px 20px;
}

.opinions__link {
  font-size: 20px;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #00a308;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

.opinions__link:hover {
  background-color: #12c22a;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 80px auto 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.795)), to(rgba(0, 0, 0, 0.192))), url("../img/form.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.192)), url("../img/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: white;
}

.form__title {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
}

.form__label {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
}

.form__input {
  margin-bottom: 45px;
  width: 450px;
  padding: 10px;
  outline: none;
  border: 0;
  border-bottom: 3px solid white;
  background: none;
  color: white;
}

.form__select {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 470px;
  padding: 10px;
  outline: none;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.form__button {
  padding: 15px;
  outline: none;
  border: 1px;
  border-radius: 10px;
  background-color: #2935db;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  width: 300px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #006cf8;
}

.form__mensaje {
  font-size: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.footer__text {
  font-weight: 800;
}

.footer__link {
  font-size: 25px;
  cursor: pointer;
  margin-left: 10px;
}

.solicitud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.solicitud__title {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.solicitud__container {
  border: 1px solid #00a308;
  width: 300px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
}

.solicitud__container__numero {
  color: #00a308;
  font-size: 50px;
  margin-right: 20px;
}

.solicitud__container__button {
  color: #00a308;
  cursor: pointer;
  font-size: 25px;
}

.opinion {
  max-width: 700px;
  margin: 80px auto;
}

.opinion__title {
  text-align: center;
  font-size: 35px;
}

.opinion__input {
  margin-top: 15px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid #363636;
}

.opinion form div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinion form div div label {
  margin-top: 30px;
}

.opinion__area {
  height: 80px;
  margin-top: 15px;
  outline: none;
  border: none;
  border-bottom: 2px solid #363636;
}

.opinion__select {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  cursor: pointer;
}

.opinion__button {
  background-color: #00a308;
  outline: none;
  border: none;
  color: white;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-top: 5px;
}

.opinion__button:hover {
  background-color: #12c22a;
}

.admin {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.116))), url("../img/login.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.116)), url("../img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 550px;
  border-radius: 40px;
  padding: 40px;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin__title {
  text-align: center;
}

.admin__content {
  background-color: rgba(255, 255, 255, 0.664);
  width: 400px;
  border-radius: 40px;
  padding: 40px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin__label {
  font-size: 18px;
  font-weight: 600;
}

.admin__input {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  border-bottom: 2px solid #363636;
  background: none;
}

.admin__select {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background: none;
  outline: none;
  cursor: pointer;
}

.admin__button {
  background-color: #00a308;
  outline: none;
  border: none;
  color: white;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 15px auto;
}

.admin__button:hover {
  background-color: #12c22a;
}

.admin__mensaje {
  font-size: 0px;
}

.hidden_row {
  display: none;
}
/*# sourceMappingURL=style.css.map */