@import "./normalize";
@import "./variables";

body {
  font-family: roboto;
  color: $second-color;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 30px;
    margin-left: 60px;
  }

  &__img {
    color: $fourth-color;
    font-size: 50px;
    margin-right: 30px;
  }

  &__title {
    color: $second-color;
    font-size: 30px;
    text-decoration: none;
  }


  &__icon{
    font-size: 20px;
    

    &--off{
      color: red;
    }

    &--on{
      color: $fourth-color;
    }
  }

  &__link{
    margin-right: 20px;
    color: $second-color;
    text-decoration: none;
    font-size: 20px;

    &--off:hover{
      color: red;
    }

    &--on:hover{
      color: $fourth-color;
    }

    &--link:hover{
      color: $third-color;
    }
  }
}

.section-header {
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    color: $primary-color;
    padding-bottom: 40px;
    padding-right: 40px;

    &__title1 {
      font-size: 45px;
      text-shadow: 2px 1px 4px rgb(0, 0, 0);
    }

    &__title3 {
      font-size: 28px;
      text-shadow: 2px 1px 4px rgb(0, 0, 0);
    }
  }
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px auto;

  &__container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px 50px;
  }

  &__icon {
    font-size: 40px;
    color: $fourth-color;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      text-align: center;
      margin-top: 15px;
      font-size: 20px;
    }

    &__p {
      font-size: 18px;
      padding: 0;
      text-align: center;
      margin-top: 0;
      line-height: 28px;
    }
  }
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(202, 202, 202);
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &__icon {
      font-size: 80px;
      margin: 0;
      margin-top: 15px;
      margin-right: 60px;
    }
  }
}

#html5 {
  color: rgb(255, 160, 17);
}

#css3 {
  color: rgb(15, 100, 211);
}

#js {
  color: rgb(255, 234, 41);
}

#bd {
  color: rgb(90, 90, 90);
}

#angular {
  color: rgb(247, 6, 6);
}

#php {
  color: rgb(79, 49, 214);
}

#node {
  color: rgb(0, 134, 7);
}

.opinions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  &__title {
    font-size: 25px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__content {
    width: 400px;
    border: 1px solid $second-color;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }

  &__icon {
    font-size: 30px;
    color: $fourth-color;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__text {
    text-align: justify;
    margin: 10px 20px;
  }

  &__link{
    font-size: 20px;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $fourth-color;
    padding: 15px;
    color: $primary-color;
    border-radius: 10px;

    &:hover{
      background-color: rgb(18, 194, 42);
    }
  }
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 80px auto 0 auto;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.795),rgba(0, 0, 0, 0.192)),url("../img/form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: $primary-color;

  &__title{
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  &__label{
    margin-top: 10px;
    margin-bottom: 5px;
    color: $primary-color;
  }

  &__input{
    margin-bottom: 45px;
    width: 450px;
    padding: 10px;
    outline: none;
    border: 0;
    border-bottom: 3px solid $primary-color;
    background: none;
    color: $primary-color;
  }

  &__select{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 470px;
    padding: 10px;
    outline: none;
    border: 2px solid $primary-color;
    border-radius: 5px;
    cursor: pointer;
  }


  &__button{
    padding: 15px;
    outline: none;
    border: 1px;
    border-radius: 10px;
    background-color: $third-color;
    color: $primary-color;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    width:300px;
    cursor: pointer;

    &:hover{
      background-color: rgb(0, 108, 248);
    }
  }

  &__mensaje{
   font-size: 0px;
  }
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;

  &__text{
      font-weight: 800;
  }

  &__link{
      font-size: 25px;
      cursor: pointer;
      margin-left: 10px;
  }
}

.solicitud{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;

  &__title{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__container{
    border: 1px solid $fourth-color;
    width: 300px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;

    &__numero{
      color: $fourth-color;
      font-size: 50px;
      margin-right: 20px;
    }

    &__button{
      color: $fourth-color;
      cursor: pointer;
      font-size: 25px;
    }
    
  }
}


.opinion{
  max-width: 700px;
  margin: 80px auto;

  &__title{
    text-align: center;
    font-size: 35px;
  }

  &__input{
    margin-top: 15px;
    margin-bottom: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid $second-color;
  }

  & form div div{
    display: flex;
    flex-direction: column;

    & label{
      margin-top: 30px;
    }
  }

  &__area{
    height: 80px;
    margin-top: 15px;
    // margin-bottom: 50px;
    outline: none;
    border: none;
    border-bottom: 2px solid $second-color;
  }

  &__select{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    cursor: pointer;
  }

  &__button{
    background-color: $fourth-color;
    outline: none;
    border: none;
    color: $primary-color;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 5px;

    &:hover{
      background-color: rgb(18, 194, 42);
    }
  }
}

.admin{
  background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.116)), url("../img/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 550px;
  border-radius: 40px;
  padding: 40px;
  margin: 0 auto;
  align-content: center;
  display: flex;
  
  &__title{
    text-align: center;
  }

  &__content{
    background-color: rgba(255, 255, 255, 0.664);
    width: 400px;
    border-radius: 40px;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  &__label{
    font-size: 18px;
    font-weight: 600;
  }

  &__input{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid $second-color;
    background: none;
  }

  &__select{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background: none;
    outline: none;
    cursor: pointer;
  }

  &__button{
    background-color: $fourth-color;
    outline: none;
    border: none;
    color: $primary-color;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 15px auto;

    &:hover{
      background-color: rgb(18, 194, 42);
    }
  }

  &__mensaje{
    font-size: 0px;
  }

 
}


.hidden_row{
  display: none;
}