{% extends 'homepage.html.twig' %}

{% block body %}
    <h1 class="opinion__title">Déjanos saber tu opinión</h1>
    <section class="opinion">
        {{ form_start(formOpinion) }}
            {{ form_widget(formOpinion) }}
            <input type="submit" value="Enviar" class="opinion__button">
        {{ form_end(formOpinion) }}
        {% if app.flashes('success')|length > 0 %}
            <p class="form__mensaje form__mensaje--success">Tu opinión ha sido recibida!</p>
        {% else %}
            <p class="form__mensaje form__mensaje--success"></p>
        {% endif %}
                
        {% if app.flashes('error')|length > 0 %}
            <p class="form__mensaje form__mensaje--error">No hemos podido recibir tu opinión</p>
        {% else %}
            <p class="form__mensaje form__mensaje--error"></p>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('asset/js/formOpinion.js') }}"></script>
    <script src="{{ asset('asset/style/alertifyjs/alertify.min.js') }}"></script>
{% endblock %}