{% extends 'homepage.html.twig' %}

{% block body %}
    <h1 class="solicitud__title">Listado de Opiniones</h1>
    {% if opiniones|length > 0 %}
        <section class="solicitud">
            {% for opinion in opiniones %}
                <div class="solicitud__container">
                    <p class="solicitud__container__numero">{{ loop.index }}</p>
                    <div>
                        <p class="solicitud__container__p">{{opinion.comentario}}</p>
                        <p class="solicitud__container__p">{{opinion.autor}}</p>
                        <p class="solicitud__container__p">{{opinion.ciudad}}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="solicitud__container__button fas fa-trash-alt" href="{{ path('eliminar-opinion', { 'id': opinion.id }) }}"></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}