<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WebLand{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('asset/fontawesome/css/all.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('asset/style/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('asset/fonts/Roboto/stylesheet.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('asset/style/alertifyjs/css/alertify.min.css') }}" /> 
            <link rel="stylesheet" href="{{ asset('asset/style/alertifyjs/css/themes/default.min.css') }}" />
        {% endblock %}
    </head>

    <body>
        {% block head %}
            <header class="header">
                <div class="header__logo">
                    <span class="header__img fas fa-globe"></span>
                    <a href="{{ path('homepage') }}" class="header__title">WebLand</a>
                    
                </div>
                {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_READER') %}
                    <div>
                        <a class="header__link header__link--link" href="{{ path('solicitudes') }}">Listado de solicitudes</a>
                        <a class="header__link header__link--link" href="{{ path('listado-opiniones') }}">Listado de Opiniones</a>
                        <span class="header__icon header__icon--off fas fa-power-off"></span>    
                        <a class="header__link header__link--off" href="{{ path('app_logout') }}">Cerrar sesión</a>
                    </div>    
                {% else %}
                    <div>
                        <span class="header__icon header__icon--on fas fa-power-off"></span>    
                        <a class="header__link header__link--on" href="{{ path('app_login') }}">Iniciar sesión</a>
                    </div>
                {% endif %}
            </header>
        {% endblock %}

        {% block body %}
            <section class="section-header">
                <div class="section-header__container">
                    <h1 class="section-header__container__title1">Bienvenido a WebLand</h1>
                    <h3 class="section-header__container__title3">Capacítate como Full Stack Developer en nuestro Bootcamp!</h3>
                </div>
            </section>

            <section class="skills">
                <div class="skills__container">
                    <span class="skills__icon fas fa-lightbulb"></span>
                    <div class="skills__text">
                        <h3 class="skills__text__title">Bootcamp</h3>
                        <p class="skills__text__p">Es la mejor opción para aprender y formarse en el sector digital en poco tiempo, y estar listo para saltar al mercado laboral</p>
                    </div>
                </div>

                <div class="skills__container">
                    <span class="skills__icon fas fa-tv"></span>
                    <div class="skills__text">
                        <h3 class="skills__text__title">Full Stack</h3>
                        <p class="skills__text__p">Es una de las profesiones más solicitadas entre las empresas del sector tecnológico. Aprende sobre la arquitectura backend y el frontend.</p>
                    </div>
                </div>

                <div class="skills__container">
                    <span class="skills__icon fas fa-clock"></span>
                    <div class="skills__text">
                        <h3 class="skills__text__title">Duración</h3>
                        <p class="skills__text__p">10 semanas</p>
                        <p class="skills__text__p">Horario full time: 9:30 a 18:30</p>
                    </div>
                </div>
                
            </section>

            <section class="languages">
                <h3 class="languages__title">Conviértete en un experto en:</h3>
                <div class="languages__container">
                    <p id="html5" class="languages__container__icon fab fa-html5"></p>
                    <p id="css3" class="languages__container__icon fab fa-css3-alt"></p>
                    <p id="js" class="languages__container__icon fab fa-js"></p>
                    <p id="bd" class="languages__container__icon fas fa-database"></p>
                    <p id="angular" class="languages__container__icon fab fa-angular"></p>
                    <p id="php" class="languages__container__icon fab fa-php"></p>
                    <p id="node" class="languages__container__icon fab fa-node"></p>
                </div>
            </section>


            <section class="opinions">
                <h3 class="opinions__title">Opiniones de nuestros estudiantes:</h3>
                {# <button id="btonNext" type="button">next</button> #}
                {# <button id="btonBack" type="button">Back</button> #}
                {# <p>Posicion actual: {{posicionActual}}</p> #}
                {# <p>Url: {{path}}</p> #}
                {# <p>método: {{method}}</p> #}
                {# <div class="opinions__container" data-url="{{ path('homepage') }}" data-posicion-actual="{{ posicionActual }}">Posición Actual: {{ posicionActual }}</div> #}
                <div class="opinions__container">
                    {% for opinion in opiniones %}
                        <div class="opinions__content">
                            <span class="opinions__icon fas fa-quote-left"></span>
                            <p class="opinions__text">{{ opinion.comentario }}</p>
                            <p class="opinions__text">{{opinion.autor}}</p>
                            <p class="opinions__text">{{ opinion.ciudad }}</p>
                        </div>
                    {% endfor %}
                </div>
                <a href="{{ path('opinion') }}" class="opinions__link">Déjanos tu opinión</a>
            </section>

            <section class="form">
                <h3 class="form__title">Inscríbete en nuestro Bootcamp</h3>
                {{ form_start(formUsuario) }}
                    {{ form_widget(formUsuario) }}
                    <input type="submit" value="Enviar" class="form__button">
                {{ form_end(formUsuario) }}
                {% if app.flashes('success')|length > 0 %}
                        <p class="form__mensaje form__mensaje--success">Tu solicitud de inscripción ha sido enviada!</p>
                {% else %}
                    <p class="form__mensaje form__mensaje--success"></p>
                {% endif %}

                {% if app.flashes('error')|length > 0 %}
                        <p class="form__mensaje form__mensaje--error">Error al enviar el formulario</p>
                {% else %}
                    <p class="form__mensaje form__mensaje--error"></p>
                {% endif %}
            </section>  
        {% endblock %}

        {% block footer %}
            <footer class="footer">
                <div>
                    <a class="footer__link fab fa-instagram"></a>
                    <a class="footer__link fab fa-facebook-square"></a>
                    <a class="footer__link fab fa-twitter"></a>
                </div>
                <p class="footer__text">Copyright © Maria Victoria Colmenares 2020</p>
            </footer>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('asset/js/homepage.js') }}"></script>
            <script src="{{ asset('asset/js/jquery-3.5.1.min.js') }}"></script>
            <script src="{{ asset('asset/style/alertifyjs/alertify.min.js') }}"></script>
        {% endblock %}
    </body>
</html>

